@page "/"

<PageTitle>Home Page</PageTitle>
@while (runing==false)
{
    <div class="MainMenu">
        <button id="Play" name="Play" class="PlayButton">
            <img src="paper-rock-scissor/Picture/R1.png"/>
        </button>
    </div>
}

@while (runing)
{
    <div>
        <div class="Scorce">
            <h2 class="Player1Scorce">@Data.Scorce.Player1</h2>
            <h2 class="Player2Scorce">@Data.Scorce.Player2</h2>
        </div>
        <div  class="OnlinePlayer">
            <img class="OnlinePlayer"/>
            <p>@OnlinePlayerName</p>
        </div>
        <div class="HostPlayer">
            <img class="StacticPlayer" />
            <p>@StacticPlayerName</p>
        </div>
    </div>
}

@code{
    bool runing = false;
    string OnlinePlayerName = Data.Sign_in_data.OnlinePlayerName;
    string StacticPlayerName = Data.Sign_in_data.StacticPlayerName;
}
