@page "/"

<PageTitle>Home Page</PageTitle>
@while (runing==false)
{
    <div class="MainMenu">
        <button id="Play" name="Play" class="PlayButton">
            <img src="paper-rock-scissor/Picture/R1.png"/>
        </button>
    </div>
}

@while (runing)
{
    <div class="PlayingMenu">
        <div>
            <h2 class="Player1Scorce">@Data.Scorce.Player1</h2>
            <h2 class="Player2Scorce">@Data.Scorce.Player2</h2>
        </div>
    </div>
}

@code{
    bool runing = false;
}
